<div class="mt-4" fxFlex="65" fxFlexOffset="15">
  <h2>{{'create_user_label'|translate}}</h2>
  <form name="form" [formGroup]="form" (ngSubmit)="form.valid && createUser()" novalidate>
    <app-create-form [parentForm]="form"></app-create-form>
    <mat-form-field class="full-width">
      <mat-label>{{'role_label'|translate}}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of (roles$|async)" [value]="role.name">{{role.name}}</mat-option>
      </mat-select>
      <mat-error>
        {{'role_required_label'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{'company_label'|translate}}</mat-label>
      <mat-select formControlName="company">
        <mat-option *ngFor="let company of (companies$|async)"
                    [value]="company.id">{{company.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <app-submit-button text="create_label"></app-submit-button>
    </div>
  </form>
</div>
