<div class="col-md-6 col-md-offset-3 mt-4">
    <h2>{{'register_label'|translate}}</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

      <mat-form-field class="full-width">
        <mat-label>{{'username_label'|translate}}</mat-label>
        <input matInput type="tel" name="phone" [(ngModel)]="model.username" #username="ngModel" required />
        <mat-error>
          {{'username_required_label'|translate}}
        </mat-error>
      </mat-form-field>
      <app-revealable-password [(password)]="model.password"></app-revealable-password>

      <mat-form-field class="full-width">
        <mat-label>{{'first_name_label'|translate}}</mat-label>
        <input matInput type="text" name="firstName" [(ngModel)]="model.firstname" #firstName="ngModel" required />
        <mat-error>
          {{'first_name_required_label'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{'last_name_label'|translate}}</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="model.lastname" #lastName="ngModel" required />
        <mat-error>
          {{'last_name_required_label'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{'email_label'|translate}}</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="model.email" #email="ngModel"
               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required />
        <mat-error>
          {{'email_required_label'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{'phone_label'|translate}}</mat-label>
        <input matInput type="tel" name="phone" [(ngModel)]="model.phone" #phone="ngModel" />
        <mat-error>
          {{'phone_required_label'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{'gender_label'|translate}}</mat-label>
        <input matInput type="text" name="gender" [(ngModel)]="model.gender" #gender="ngModel" />
        <mat-error>
          {{'gender_required_label'|translate}}
        </mat-error>
      </mat-form-field>
      <div>
        <app-submit-button text="register_label"></app-submit-button>
        <a [routerLink]="['/login']" class="btn btn-link">{{'cancel_label'|translate}}</a>
      </div>
    </form>
</div>
