<div class="mt-4" fxFlex="65" fxFlexOffset="15">
    <h2>{{'login_label'|translate}}</h2>
    <form name="form"  [formGroup]="form" (ngSubmit)="form.valid && login()" novalidate>
      <mat-form-field class="full-width">
        <mat-label>{{'username_label'|translate}}</mat-label>
        <input matInput type="text" name="username" formControlName="username" />
        <mat-error>
          {{'username_required_label'|translate}}
        </mat-error>
      </mat-form-field>
      <app-revealable-password [parentForm]="form"></app-revealable-password>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <app-submit-button text="login_label"></app-submit-button>
        <a [routerLink]="['/register']" class="btn-link">{{'register_label'|translate}}</a>
      </div>

    </form>
</div>
