.alert-danger {
  background-color: #AE190E; /* Red */
}
.alert-success {
  background-color: #11AA2B;
}
.alert{
  padding: 15px;
  color: white;
  font-size: 15pt;
  margin-bottom: 15px;
  text-align: center;
}
