<div class="col-md-12">
  <div class="user-info-container row" *ngIf="currentUser">
    <label class="user-info-label col-md-5">{{'employee_username_label' | translate}}</label>
    <span class="user-info-value col-md-6">{{currentUser.username}}</span>
  </div>
  <div class="user-info-container row">
    <label class="user-info-label col-md-5">{{'date_label' | translate}}</label>
    <span class="user-info-value col-md-6">{{now.toLocaleDateString("en-US")}}</span>
  </div>
  <div class="user-info-container row">
    <label class="user-info-label col-md-5">{{'time_label' | translate}}</label>
    <span class="user-info-value col-md-6">{{now.getHours() + ":" + now.getMinutes()}}</span>
  </div>
</div>
