table {
  margin-top:20px;
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.action-buttons-data {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}
