<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon color="primary" matListIcon>forum</mat-icon>
            <span>{{'communications_label'|translate}}</span>
          </ng-template>
          <mat-list class="conversations">
            <a mat-list-item [ngClass]="{ 'active-communication': (selectedConversation && conversation.id === selectedConversation.id) }"
               *ngFor="let conversation of conversations" (click)="selectConversation(conversation.id)">
              <mat-icon color="primary" matListIcon>forum</mat-icon>
              <span>{{ conversation.userName }}</span>
            </a>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav position="end" mode="side" opened *ngIf="selectedConversation">
    <mat-card>
      <mat-list class="members">
        ...
      </mat-list>
    </mat-card>
  </mat-sidenav>
  <section class="empty-conversation" *ngIf="!selectedConversation">
    <h1 class="mat-display-1">{{'select_communication'|translate}}</h1>
  </section>
  <section *ngIf="selectedConversation">
    <div class="mat-typography conversation-header">
      <p>
        <mat-icon color="primary" matListIcon>forum</mat-icon>
        <span>{{selectedConversation.userName}}</span>
        <span fxFlex=""></span>
        <button mat-icon-button (click)="startVideoCall()">
          <mat-icon color="primary" class="icon-scaled-16">video_call</mat-icon>
        </button>

      </p>
    </div>

    <mat-divider></mat-divider>
    <mat-list dense class="conversation-history mat-typography">
      <div *ngFor="let conversation of selectedConversation.conversations">
        <div class="message-container">
          <span *ngIf="conversation.id != currentUser.id" fxFlex></span>
          <button class="message-chip" mat-raised-button color="{{conversation.id === currentUser.id ? 'primary' : 'accent'}}">
            {{conversation.message}}
          </button>
        </div>
      </div>
    </mat-list>
    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'chat_start_placeholder'|translate}}" name="text" [(ngModel)]="messageText">
        <mat-icon class="icon-scaled-16" color="primary" matSuffix (click)="send()">send</mat-icon>
      </mat-form-field>
    </div>
  </section>
</mat-sidenav-container>
