<mat-list dense class="conversation-history mat-typography">
  <div *ngFor="let conversation of selectedConversation.communications">
    <div class="message-container">
      <span *ngIf="conversation.id != currentUser.id" fxFlex></span>
      <button *ngIf="conversation.type.type === 'Sms'" class="message-chip" mat-raised-button color="{{conversation.id === currentUser.id ? 'primary' : 'accent'}}">
        {{conversation.text}}
      </button>
      <div *ngIf="conversation.type.type === 'Video'" style="margin: 0 10px;">
        <mat-card fxLayout="row" fxLayoutAlign="space-around center" style="min-width: 300px;padding: 20px;">
          <div fxFlex="20">
            <mat-icon style="color: white; background-color: darkgray;padding: 5px;margin-top: 5px;">call_end</mat-icon>
          </div>
          <div fxFlex="80">
            <div *ngIf="conversation.endTime != null">
              <p>
                {{'call_ended_label'|translate}}
              </p>
              <p>
                <span>{{'call_ended_at_label'|translate}} </span>
                <span>{{conversation.endTime | date: 'short'}}</span>
              </p>
            </div>
            <div *ngIf="conversation.endTime == null">
              <p>
                {{'call_missed_label'|translate}}
              </p>
            </div>

          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-list>
