
.category-name {
  width: 100%;
  margin: 10px 0px;
  background-color: #eeeeee;
  padding: 10px;
  text-align: center;
}

.active-category {
  background-color: #c2c3c4;
}

.no-categories-found {
  font-size: 3rem;
  color: #eeeeee;
}
