.full-height {
  min-height: 92.5vh;
  padding-top: 20px;
}

mat-icon.mat-card-avatar {
  background-size: auto;
}

.card {
  padding: 16px !important;
  margin: 20px;
}

.card-content {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #673ab7;
}

.content {
  padding: 16px 16px 16px 16px;
}


.content > mat-card {
  margin-top: 20px;
}

.side-nav {
  background-color: #1976d2;
}

.main-container {
  background-color: #4B82B9;
}

.chart-style {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 30px;
}

.chart-title {
  font-size: 30px;
  font-weight: normal;
}

.button {
  margin-left: 16px !important;
}
