<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>{{'communications_label'|translate}}</span>
          </ng-template>

          <app-users-search *ngIf="!isReadOnly"
            (selectionChange)="selectedUserForCommunication($event)"></app-users-search>

          <app-communications-user-list [conversations]="conversations$|async"
                                        [selectedConversation]="selectedConversation"
                                        (conversationSelected)="selectConversation($event)"></app-communications-user-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav position="end" mode="side" fxFlex="70" class="users-info-container" opened *ngIf="selectedConversation">
    <app-communications-users-info [users]="[selectedConversation.user, currentUser]">
    </app-communications-users-info>
  </mat-sidenav>

  <section class="empty-conversation" fxFlex="70" *ngIf="!selectedConversation">
    <h1 class="mat-display-1">{{'select_communication'|translate}}</h1>
  </section>

  <section *ngIf="selectedConversation">
    <app-communications-user-header [selectedConversation]="selectedConversation"></app-communications-user-header>

    <mat-divider></mat-divider>

    <app-communications-list [currentUser]="currentUser" [selectedConversation]="selectedConversation"></app-communications-list>

    <app-communications-send-message *ngIf="!isReadOnly" class="conversation-input"
                                     (messageSend)="send($event)"></app-communications-send-message>
  </section>
</mat-sidenav-container>
