.video-call-box {
  border: 1px solid black;
  border-radius: 2px;
}

.local-video {
  width: 200px;
}

.remote-video {
  margin-left: 6vh;
  width: 550px;
}

.confirmation-popup-container {
  min-height: 300px;
}
