<button mat-button [mat-menu-trigger-for]="languageMenu">
  <span *ngIf="selectedLanguage" fxLayout="row">
    <img src="{{selectedLanguage.img}}" class="language-img" alt="{{selectedLanguage.nameKey|translate}}"/>
    <span>{{selectedLanguage.nameKey|translate}}</span>
  </span>
</button>

<mat-menu xPosition="before" #languageMenu="matMenu">
  <button mat-menu-item *ngFor="let lang of languages" (click)="selectLanguage(lang)" fxLayout="row">
    <img src="{{lang.img}}" class="language-img" alt="{{lang.nameKey|translate}}" />
    <span>{{lang.nameKey|translate}}</span>
  </button>
</mat-menu>
